<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lenovo.service.basicpubliclibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 动画 -->
        <activity android:name=".AnimationActivity" />
        <activity android:name=".headerfloatanimation.HeaderFloatActivity" />
        <activity android:name=".ComponentActivity" />
        <activity android:name=".CompositeActivity" />
        <activity android:name=".smilepraiseview.SmilePraiseActivity" />
        <activity android:name=".OptimizeActivity" />
        <activity android:name=".StorageActivity" />
        <activity android:name=".WidgetActivity" />
        <activity android:name=".AppStartGuide.AppStartGuide" />
        <activity android:name=".ProgressBaranimation.ProgressActivity" />
        <activity android:name=".maillistananimation.MaillistActivity" />
        <activity android:name=".meizuweather.MeizuWeacherActivity" />
        <activity android:name=".loopview.LoopViewActivity"></activity>
        <activity android:name=".scoringstrip.ScoringStripActivity"></activity>
        <activity android:name=".flowwateranimation.FlowWaterAnimationActivity"></activity>
    </application>

</manifest>