<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lenovo.service.basicpubliclibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- end 二维码扫描 相机，闪光灯权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CELL_BROADCASTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 袁东华开始 -->
        <!-- RecyclerView相关实现效果演示界面 -->
        <activity android:name=".recyclerview.entrance.ui.RecyclerViewActivity" />
        <!-- RecyclerView的条目操作演示界面 -->
        <activity android:name=".recyclerview.item.handle.ui.ItemHandleActivity" />
        <!-- RecyclerView的条目分割线演示界面 -->
        <activity android:name=".recyclerview.item.decoration.line.ui.DecorationActivity" />
        <!-- 利用RecyclerView实现图片轮播效果演示界面 -->
        <activity android:name=".recyclerview.banner.ui.BannerActivity" />
        <!-- 利用ItemDecoration实现时光轴效果演示界面 -->
        <activity android:name=".recyclerview.item.decoration.timeline.ui.TimeLineActivity" />
        <!-- 利用ItemDecoration实现排行榜效果 -->
        <activity android:name=".recyclerview.item.decoration.rankinglist.ui.RankingListActivity" />
        <!-- 利用RecyclerView实现瀑布流效果 -->
        <activity android:name=".recyclerview.staggeredgrid.ui.StaggeredGridActivity" />
        <!-- 瀑布流条目操作演示界面 -->
        <activity android:name=".recyclerview.staggeredgrid.ui.ItemHandleActivity" />
        <!-- 瀑布流式时光轴演示界面 -->
        <activity android:name=".recyclerview.staggeredtimeline.timeline1.TimeLine1Activity" />
        <!-- 瀑布流式任务时光轴演示界面 -->
        <activity android:name=".recyclerview.staggeredtimeline.timeline2.DotTimeLineActivity" />
        <!-- 袁东华结束 -->


        <!-- 动画 -->
        <activity android:name=".AnimationActivity" />
        <activity android:name=".headerfloatanimation.HeaderFloatActivity" />
        <activity android:name=".ComponentActivity" />
        <activity android:name=".CompositeActivity" />
        <activity android:name=".pullTorefresh_tool.PullTorefreshActivity" />
        <activity android:name=".smilepraiseview.SmilePraiseActivity" />
        <!-- 加载数据页面的activity -->
        <activity android:name=".loaddata.LoadDataActivity" />
        <activity android:name=".loaddata.Sample1Activity" />
        <activity android:name=".loaddata.Sample2Activity" />
        <activity android:name=".dialog.ColorDialogActivity" />
        <!-- 动画 -->
        <activity android:name=".OptimizeActivity" />
        <activity android:name=".StorageActivity" />
        <activity android:name=".WidgetActivity" />
        <activity android:name=".AppStartGuide.AppStartGuide" />
        <activity android:name=".ProgressBaranimation.ProgressActivity" />
        <activity android:name=".maillistananimation.MaillistActivity" />
        <activity android:name=".meizuweather.MeizuWeacherActivity" />
        <activity android:name=".loopview.LoopViewActivity" />
        <activity android:name=".scoringstrip.ScoringStripActivity" />
        <activity android:name=".cardstatcview.CardStackActivty" />
        <activity android:name=".flowwateranimation.FlowWaterAnimationActivity" />
        <activity android:name=".questionnaire.QuestionActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity
            android:name=".guideanim.ShowActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".recyclertablayout.TabLayoutActivity" />
        <activity android:name=".ormlite.OrmLiteActivity" />
        <activity
            android:name=".greendao.GreenDaoDemoActivity"
            android:label="@string/title_activity_green_dao_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".flycotablayout.ui.CommonTabActivity" />
        <activity android:name=".flycotablayout.ui.SegmentTabActivity" />
        <activity android:name=".flycotablayout.ui.SimpleHomeActivity" />
        <activity android:name=".flycotablayout.ui.SlidingTabActivity" />
        <activity android:name=".multitype.bilibili.BilibiliActivity" />
        <activity android:name=".multitype.multi_select.MultiSelectActivity" />
        <activity android:name=".multitype.normal.NormalActivity" />
        <activity android:name=".multitype.weibo.WeiboActivity" />
        <activity android:name=".multitype.communicate_with_binder.SimpleActivity" />
        <activity android:name=".multitype.one2many.OneDataToManyActivity" />
        <activity android:name=".multitype.payload.TestPayloadActivity" />
        <activity android:name=".multitype.extra_apis.SeldomUsedApisPlayground" />
        <activity android:name=".svg.WowActivity" />
        <activity android:name=".boommenu.BoomMenuMainActivity" />
        <activity android:name=".scratchview.ScratchViewActivity" />
        <activity android:name=".scratchview.DemoClothingActivity" />
        <activity android:name=".scratchview.CaptchaActivity" />
        <activity android:name=".bgabanner.GuideActivity" />
        <activity android:name=".bgabanner.BannerListActivity" />
        <activity
            android:name=".boommenu.SquareAndPieceCornerRadiusActivity"
            android:label="Square &amp; Piece Corner Radius" />
        <activity
            android:name=".boommenu.ActionBarActivity"
            android:label="ActionBar" />
        <activity
            android:name=".boommenu.EaseActivity"
            android:label="Ease" />
        <activity
            android:name=".cameraDemo.RecordMainAcitivity"
            android:theme="@style/CameraTheme" />
        <activity android:name=".cameraDemo.CameraActivity" />
        <activity
            android:name=".pickerview.PickerActivity"
            android:label="@string/title_activity_picker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".videoplayer.VideoplayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme" />
        <activity android:name=".chartview.ChartViewActivity" />
        <activity android:name=".H5Activity" />
        <activity android:name=".databinding.DataBindingActivity" />
        <activity android:name=".stepview.StepViewActivity" />
        <activity android:name=".linechart.ui.LineChartActivity" />
        <activity android:name=".jsBridge.activity.JSBridgeActivity" />
        <activity android:name=".zoomheader.DetailActivity" />
        <activity android:name=".zoomheader.ZoomHeaderActivity" />
        <activity android:name=".doodle.DoodleViewActivity" />
        <activity
            android:name=".fragmentation.demo_flow.FlowMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".popup.PopUpActivity" />
        <activity android:name=".Tastytoast.ToastActivity" />
        <activity android:name=".roll3dimageview.RollImageActivity" />
        <activity android:name=".roll3dimageview.DemoAct" />
        <activity android:name=".roll3dimageview.RollDebugAct" />
        <activity android:name=".roundiamge.RoundImageActivity" />
        <activity android:name=".jike.JikeGalleryActivity" />
        <activity android:name=".jobservice.JobServiceActivity" />
        <activity android:name=".tagviewgroup.TagViewGroupActivity" />
        <!-- 注册 -->
        <service
            android:name=".jobservice.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".LoadMoreRecyclerView.MyRecyclerViewActivity" />
        <activity android:name=".validation.ValidateActivity" />
        <activity android:name=".loadingart.Loadingart_activity" />
        <activity android:name=".takeaway.TakeawayActivity" />
        <activity android:name=".colorfultoast.ColorfulToastActivity" />
        <activity
            android:name=".SADL.SADLActivity"
            android:label="SADLMainActivity" />
        <activity
            android:name=".SADL.HeaderFooterActivity"
            android:label="SDLV with headers and footers" />
        <activity
            android:name=".SADL.DifferentMenuActivity"
            android:label="SDLV with different menus" />
        <activity
            android:name=".SADL.NormalListViewActivity"
            android:label="Normal ListView" />
        <activity
            android:name=".SADL.SlideAndDragListViewActivity"
            android:label="SlideAndDragListView" />
        <activity
            android:name=".SADL.ItemDragActivity"
            android:label="Touch Item to Drag" />
        <activity
            android:name=".SADL.HeaderFooterViewTypeActivity"
            android:label="SDLV with headers and footers (viewType)" />
        <activity
            android:name=".SADL.SimpleAdapterActivity"
            android:label="SDLV with SimpleAdapter" />
        <activity android:name=".ALogActivity" />
        <activity
            android:name=".picture_cut.SampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".picture_cut.ResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".bottleLoadingView.GABottleLoadingViewAcivity" />
        <activity android:name=".dbflow.DBFlowActivity" />
        <activity android:name=".UserGuideView.UserGuideActivity" />
        <activity android:name=".cardview.CardActivity" />
        <activity android:name=".avatarlabelview.AvatarLabelActivity" />
        <activity android:name=".obtainlocalphoto.LocalPhotoActivity" />
        <activity android:name=".gesturelock.GestureLockActivity" />
        <activity android:name=".gesturelock.DrawPasswordActivity" />
        <activity android:name=".bezier.BezierActivity" />
        <activity android:name=".bezier.DotsLoaderActivity" />
        <activity android:name=".leakcanary.LeakCanaryActivity" />

        <service
            android:name="com.squareup.leakcanary.internal.HeapAnalyzerService"
            android:enabled="false"
            android:process=":leakcanary" />
        <service
            android:name="com.squareup.leakcanary.DisplayLeakService"
            android:enabled="false" />

        <activity
            android:name="com.squareup.leakcanary.internal.DisplayLeakActivity"
            android:enabled="false"
            android:icon="@drawable/__leak_canary_icon"
            android:label="@string/__leak_canary_display_activity_label"
            android:taskAffinity="com.squareup.leakcanary"
            android:theme="@style/__LeakCanary.Base" />
        <activity android:name="lenovo.com.zxing.MipcaActivityCapture" />
        <activity android:name=".toolbar.TestToolbarActivity" />
        <activity android:name=".textstyle.TextActivity" />
        <activity
            android:name=".Frostedglasseffect.FrostedGlassEffectActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".timepicker.TimePickerActivity" />
        <activity android:name=".weekview.WeekViewActivity" />
        <activity android:name=".dialogfragment.DialogActivity" />
        <activity android:name=".flowlayout.CategoryActivity" />
        <activity android:name=".ultraviewpager.UPVDemoActivity" />
        <activity android:name=".ultraviewpager.PagerActivity" />
        <activity android:name=".dropdownmenu.DropDownActivity" />
        <activity android:name=".smileyrating.SmileRatingActivity" />
        <activity android:name=".widget.CircleImageActivity" />
        <activity android:name=".realm.RealmActivity" />

        <!-- sugar -->
        <!-- 数据库名字 -->
        <meta-data
            android:name="DATABASE"
            android:value="family.db" />
        <!-- 数据库版本号，可以用来更新数据库 -->
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <!-- true会打印一些日志 -->
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <!-- 创建数据库的bean的路径 -->
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.lenovo.service.basicpubliclibrary.sugar.bean" />
        <!-- sugar -->
        <activity android:name=".sugar.SugarActivity" />
        <activity android:name=".camerakit.CamerakitActivity" />
        <activity
            android:name=".camerakit.PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".colortheme.ColorThemeActivity"
            android:theme="@style/DayTheme" />
        <activity android:name=".colortheme.RecyclerActivity" />
        <activity
            android:name=".jniDemo.JNITestActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".signcalendar.SignCalendarActivity" />
        <activity android:name=".alipay.AlipayActivity" />
        <activity android:name=".zxing.activity.ZxingActivity" />
        <activity android:name=".zxing.activity.CaptureActivity" />
        <activity android:name=".addsub.AddSubActivity" />
        <activity android:name=".floatingbutton.FLoatingBtnActivity" />

        <service
            android:name=".schedule.AlarmScheduleService"
            android:exported="false" />
        <service
            android:name=".schedule.JobScheduleService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".schedule.ScheduleActivity" />
        <activity android:name=".shadowmasking.ShadowmaskingActivity" />
        <activity android:name=".shadowmasking.ShadowmaskingproActivity" />
        <activity android:name=".networkokhttp.NetokhttpActivity" />
        <activity android:name=".expandablelvanimated.ExpandableListViewActivity" />
        <activity android:name=".permissionDemo.PermissionDemoActivity" />
        <activity android:name=".alerter.AlerterActivity" />
        <activity android:name=".bezier.PinViewActivity"></activity>
        <activity android:name=".bottombar.BottomBarActivity"/>
        <activity android:name=".floatingmenu.FloatingActionActivity"/>
    </application>

</manifest>