<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lenovo.service.basicpubliclibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <!-- end 二维码扫描 相机，闪光灯权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CELL_BROADCASTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="com.android.voicemail.permission.ADD_VOICEMAIL" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 袁东华开始 -->
        <!-- RecyclerView相关实现效果演示界面 -->
        <activity android:name=".recyclerview.entrance.ui.RecyclerViewActivity" />
        <!-- RecyclerView的条目操作演示界面 -->
        <activity android:name=".recyclerview.item.handle.ui.ItemHandleActivity" />
        <!-- RecyclerView的条目分割线演示界面 -->
        <activity android:name=".recyclerview.item.decoration.line.ui.DecorationActivity" />
        <!-- 利用RecyclerView实现图片轮播效果演示界面 -->
        <activity android:name=".recyclerview.banner.ui.BannerActivity" />
        <!-- 利用ItemDecoration实现时光轴效果演示界面 -->
        <activity android:name=".recyclerview.item.decoration.timeline.ui.TimeLineActivity" />
        <!-- 利用ItemDecoration实现排行榜效果 -->
        <activity android:name=".recyclerview.item.decoration.rankinglist.ui.RankingListActivity" />
        <!-- 利用RecyclerView实现瀑布流效果 -->
        <activity android:name=".recyclerview.staggeredgrid.ui.StaggeredGridActivity" />
        <!-- 瀑布流条目操作演示界面 -->
        <activity android:name=".recyclerview.staggeredgrid.ui.ItemHandleActivity" />
        <!-- 瀑布流式时光轴演示界面 -->
        <activity android:name=".recyclerview.staggeredtimeline.timeline1.TimeLine1Activity" />
        <!-- 瀑布流式任务时光轴演示界面 -->
        <activity android:name=".recyclerview.staggeredtimeline.timeline2.DotTimeLineActivity" />
        <!-- 瀑布流式任务时光轴演示界面2 -->
        <activity android:name=".recyclerview.staggeredtimeline.timeline3.ui.TimeLine3Activity" />
        <!-- 悬浮效果演示界面1 -->
        <activity android:name=".recyclerview.suspension.ui.SuspensionEffectActivity" />
        <!-- 悬浮效果演示界面2 -->
        <activity android:name=".recyclerview.suspension2.ui.SuspensionEffect2Activity" />
        <!-- 悬浮效果演示界面3 -->
        <activity android:name=".recyclerview.suspension3.ui.SuspensionEffect3Activity" />
        <!-- 袁东华结束 -->


        <!-- 动画 -->
        <activity android:name=".AnimationActivity" />
        <activity android:name=".headerfloatanimation.HeaderFloatActivity" />
        <activity android:name=".ComponentActivity" />
        <activity android:name=".CompositeActivity" />
        <activity android:name=".pullTorefresh_tool.PullTorefreshActivity" />
        <activity android:name=".smilepraiseview.SmilePraiseActivity" />
        <!-- 加载数据页面的activity -->
        <activity android:name=".loaddata.LoadDataActivity" />
        <activity android:name=".loaddata.Sample1Activity" />
        <activity android:name=".loaddata.Sample2Activity" />
        <activity android:name=".dialog.ColorDialogActivity" />
        <!-- 动画 -->
        <activity android:name=".OptimizeActivity" />
        <activity android:name=".StorageActivity" />
        <activity android:name=".WidgetActivity" />
        <activity android:name=".AppStartGuide.AppStartGuide" />
        <activity android:name=".ProgressBaranimation.ProgressActivity" />
        <activity android:name=".maillistananimation.MaillistActivity" />
        <activity android:name=".meizuweather.MeizuWeacherActivity" />
        <activity android:name=".loopview.LoopViewActivity" />
        <activity android:name=".scoringstrip.ScoringStripActivity" />
        <activity android:name=".cardstatcview.CardStackActivty" />
        <activity android:name=".flowwateranimation.FlowWaterAnimationActivity" />
        <activity android:name=".questionnaire.QuestionActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity
            android:name=".guideanim.ShowActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".recyclertablayout.TabLayoutActivity" />
        <activity android:name=".ormlite.OrmLiteActivity" />
        <activity
            android:name=".greendao.GreenDaoDemoActivity"
            android:label="@string/title_activity_green_dao_demo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".flycotablayout.ui.CommonTabActivity" />
        <activity android:name=".flycotablayout.ui.SegmentTabActivity" />
        <activity android:name=".flycotablayout.ui.SimpleHomeActivity" />
        <activity android:name=".flycotablayout.ui.SlidingTabActivity" />
        <activity android:name=".multitype.bilibili.BilibiliActivity" />
        <activity android:name=".multitype.multi_select.MultiSelectActivity" />
        <activity android:name=".multitype.normal.NormalActivity" />
        <activity android:name=".multitype.weibo.WeiboActivity" />
        <activity android:name=".multitype.communicate_with_binder.SimpleActivity" />
        <activity android:name=".multitype.one2many.OneDataToManyActivity" />
        <activity android:name=".multitype.payload.TestPayloadActivity" />
        <activity android:name=".multitype.extra_apis.SeldomUsedApisPlayground" />
        <activity android:name=".svg.WowActivity" />
        <activity android:name=".boommenu.BoomMenuMainActivity" />
        <activity android:name=".scratchview.ScratchViewActivity" />
        <activity android:name=".scratchview.DemoClothingActivity" />
        <activity android:name=".scratchview.CaptchaActivity" />
        <activity android:name=".bgabanner.GuideActivity" />
        <activity android:name=".bgabanner.BannerListActivity" />
        <activity
            android:name=".boommenu.SquareAndPieceCornerRadiusActivity"
            android:label="Square &amp; Piece Corner Radius" />
        <activity
            android:name=".boommenu.ActionBarActivity"
            android:label="ActionBar" />
        <activity
            android:name=".boommenu.EaseActivity"
            android:label="Ease" />
        <activity
            android:name=".cameraDemo.RecordMainAcitivity"
            android:theme="@style/CameraTheme" />
        <activity android:name=".cameraDemo.CameraActivity" />
        <activity
            android:name=".pickerview.PickerActivity"
            android:label="@string/title_activity_picker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".videoplayer.VideoplayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme" />
        <activity android:name=".chartview.ChartViewActivity" />
        <activity android:name=".H5Activity" />
        <activity android:name=".databinding.DataBindingActivity" />
        <activity android:name=".stepview.StepViewActivity" />
        <activity android:name=".linechart.ui.LineChartActivity" />
        <activity android:name=".jsBridge.activity.JSBridgeActivity" />
        <activity android:name=".zoomheader.DetailActivity" />
        <activity android:name=".zoomheader.ZoomHeaderActivity" />
        <activity android:name=".doodle.DoodleViewActivity" />
        <activity
            android:name=".fragmentation.demo_flow.FlowMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".popup.PopUpActivity" />
        <activity android:name=".Tastytoast.ToastActivity" />
        <activity android:name=".roll3dimageview.RollImageActivity" />
        <activity android:name=".roll3dimageview.DemoAct" />
        <activity android:name=".roll3dimageview.RollDebugAct" />
        <activity android:name=".roundiamge.RoundImageActivity" />
        <activity android:name=".jike.JikeGalleryActivity" />
        <activity android:name=".jobservice.JobServiceActivity" />
        <activity android:name=".tagviewgroup.TagViewGroupActivity" />
        <!-- 注册 -->
        <service
            android:name=".jobservice.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".LoadMoreRecyclerView.MyRecyclerViewActivity" />
        <activity android:name=".validation.ValidateActivity" />
        <activity android:name=".loadingart.Loadingart_activity" />
        <activity android:name=".takeaway.TakeawayActivity" />
        <activity android:name=".colorfultoast.ColorfulToastActivity" />
        <activity
            android:name=".sadl.SADLActivity"
            android:label="SADLMainActivity" />
        <activity
            android:name=".sadl.HeaderFooterActivity"
            android:label="SDLV with headers and footers" />
        <activity
            android:name=".sadl.DifferentMenuActivity"
            android:label="SDLV with different menus" />
        <activity
            android:name=".sadl.NormalListViewActivity"
            android:label="Normal ListView" />
        <activity
            android:name=".sadl.SlideAndDragListViewActivity"
            android:label="SlideAndDragListView" />
        <activity
            android:name=".sadl.ItemDragActivity"
            android:label="Touch Item to Drag" />
        <activity
            android:name=".sadl.HeaderFooterViewTypeActivity"
            android:label="SDLV with headers and footers (viewType)" />
        <activity
            android:name=".sadl.SimpleAdapterActivity"
            android:label="SDLV with SimpleAdapter" />
        <activity android:name=".ALogActivity" />
        <activity
            android:name=".picture_cut.SampleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".picture_cut.ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraTheme" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".bottleLoadingView.GABottleLoadingViewAcivity" />
        <activity android:name=".dbflow.DBFlowActivity" />
        <activity android:name=".UserGuideView.UserGuideActivity" />
        <activity android:name=".cardview.CardActivity" />
        <activity android:name=".avatarlabelview.AvatarLabelActivity" />
        <activity android:name=".obtainlocalphoto.LocalPhotoActivity" />
        <activity android:name=".gesturelock.GestureLockActivity" />
        <activity android:name=".gesturelock.DrawPasswordActivity" />
        <activity android:name=".cupboard.CupboardActivity" />
        <activity android:name=".bezier.BezierActivity" />
        <activity android:name=".bezier.DotsLoaderActivity" />
        <activity android:name=".leakcanary.LeakCanaryActivity" />

        <service
            android:name="com.squareup.leakcanary.internal.HeapAnalyzerService"
            android:enabled="false"
            android:process=":leakcanary" />
        <service
            android:name="com.squareup.leakcanary.DisplayLeakService"
            android:enabled="false" />

        <activity
            android:name="com.squareup.leakcanary.internal.DisplayLeakActivity"
            android:enabled="false"
            android:icon="@drawable/__leak_canary_icon"
            android:label="@string/__leak_canary_display_activity_label"
            android:taskAffinity="com.squareup.leakcanary"
            android:theme="@style/__LeakCanary.Base" />
        <activity android:name="lenovo.com.zxing.MipcaActivityCapture" />
        <activity android:name=".toolbar.TestToolbarActivity" />
        <activity android:name=".textview.textstyle.TextActivity" />
        <activity
            android:name=".Frostedglasseffect.FrostedGlassEffectActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".timepicker.TimePickerActivity" />
        <activity android:name=".weekview.WeekViewActivity" />
        <activity android:name=".dialogfragment.DialogActivity" />
        <activity android:name=".flowlayout.CategoryActivity" />
        <activity android:name=".ultraviewpager.UPVDemoActivity" />
        <activity android:name=".ultraviewpager.PagerActivity" />
        <activity android:name=".dropdownmenu.DropDownActivity" />
        <activity android:name=".smileyrating.SmileRatingActivity" />
        <activity android:name=".widget.CircleImageActivity" />
        <activity android:name=".realm.RealmActivity" />
        <activity android:name=".tagviewgroup.TagEditActivity" />
        <activity android:name=".tagviewgroup.TagListActivity" />
        <activity android:name=".iconbadge.IconBadgeActivity" />

        <service
            android:name=".iconbadge.BadgeIntentService"
            android:exported="false" />

        <!-- sugar -->
        <!-- 数据库名字 -->
        <meta-data
            android:name="DATABASE"
            android:value="family.db" />
        <!-- 数据库版本号，可以用来更新数据库 -->
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <!-- true会打印一些日志 -->
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <!-- 创建数据库的bean的路径 -->
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.lenovo.service.basicpubliclibrary.sugar.bean" />
        <!-- sugar -->
        <activity android:name=".sugar.SugarActivity" />
        <activity android:name=".camerakit.CamerakitActivity" />
        <activity
            android:name=".camerakit.PreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".colortheme.ColorThemeActivity"
            android:theme="@style/DayTheme" />
        <activity android:name=".colortheme.RecyclerActivity" />
        <activity
            android:name=".jniDemo.JNITestActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".signcalendar.SignCalendarActivity" />
        <activity android:name=".alipay.AlipayActivity" />
        <activity android:name=".zxing.activity.ZxingActivity" />
        <activity android:name=".zxing.activity.CaptureActivity" />
        <activity android:name=".addsub.AddSubActivity" />
        <activity android:name=".floatingbutton.FLoatingBtnActivity" />

        <service
            android:name=".schedule.AlarmScheduleService"
            android:exported="false" />
        <service
            android:name=".schedule.JobScheduleService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".schedule.ScheduleActivity" />
        <activity android:name=".shadowmasking.ShadowmaskingActivity" />
        <activity android:name=".shadowmasking.ShadowmaskingproActivity" />
        <activity android:name=".networkokhttp.NetokhttpActivity" />
        <activity android:name=".expandablelvanimated.ExpandableListViewActivity" />
        <activity android:name=".permissionDemo.PermissionDemoActivity" />
        <activity android:name=".alerter.AlerterActivity" />
        <activity android:name=".bezier.PinViewActivity" />
        <activity android:name=".bottombar.BottomBarActivity" />
        <activity android:name=".floatingmenu.FloatingActionActivity" />
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".uploadfile.UploadFileActivity" />
        <activity android:name=".textview.verticaltextview.VerticalTextViewActivity" />
        <activity android:name=".textview.spantext.SpanTextActivity" />
        <activity android:name="com.example.lenovo.retrofithelper2.RetrofitHelperActivity" />
        <activity android:name=".expandable.ExpandableActivity" />
        <activity android:name="com.lizehao.watermelondiarynew.ui.AddDiaryActivity" />
        <activity android:name="com.lizehao.watermelondiarynew.ui.UpdateDiaryActivity" />
        <activity android:name="com.lizehao.watermelondiarynew.ui.WatermelonDiayActivity" />
        <activity android:name=".request.ui.RequestTestActivity" />
        <activity android:name=".panoramimageview.HorizontalSampleActivity" />
        <activity android:name=".panoramimageview.PanoramImageActivity" />
        <activity android:name=".panoramimageview.RecyclerViewSampleActivity" />
        <activity android:name=".panoramimageview.VerticalSampleActivity" />
        <!-- 微信支付界面 -->
        <activity android:name=".wechatpay.WeChatPayActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="此处填写自己注册的获得的微信APP_ID" />
            </intent-filter>
        </activity>
        <!-- 微信支付回调界面 -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".smallchart.PieCharActivity" />
        <activity android:name=".smallchart.RadarChartActivity" />
        <activity
            android:name=".smallchart.LineChartActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".textview.linktextview.LinkTextViewActivity" />
        <activity android:name=".wowoviewpagerexample.WowoMainActivity" />
        <activity
            android:name=".wowoviewpagerexample.WoWoTranslationAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity android:name=".wowoviewpagerexample.SetEaseTypeActivity" />
        <activity
            android:name=".wowoviewpagerexample.WoWoScaleAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.WoWoAlphaAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.WoWoShapeColorAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.WoWoTextViewColorAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.WoWoBackgroundColorAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.WoWoLayerListColorAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.WoWoStateListColorAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.WoWoRotationAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.WoWoPathAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.WoWoTextViewTextSizeAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.WoWoPositionAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.WoWoTextViewTextAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.GuidePageActivity1"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.GearboxActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.StaticActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.svg.SVGActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.gif.GIFActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.AutoScrollActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.DirectionActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.CustomAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.GuidePageActivity2"
            android:theme="@style/ShowAppTheme" />
        <activity
            android:name=".wowoviewpagerexample.WoWoElevationAnimationActivity"
            android:theme="@style/ShowAppTheme" />
        <activity android:name=".keyboardpanelswitch.ChattingResolvedActivity" />
        <activity android:name=".keyboardpanelswitch.ChattingResolvedFragmentActivity" />
        <activity android:name=".keyboardpanelswitch.KeyboardPanelSwitchActivity" />
        <activity android:name=".keyboardpanelswitch.TranslucentActivity" />
        <activity android:name=".keyboardpanelswitch.ChattingResolvedHandleByPlaceholderActivity" />
        <activity android:name=".keyboardpanelswitch.ChattingUnresolvedActivity" />
        <activity android:name=".counter.CounterActivity" />
        <activity android:name=".litepal.activity.LitepalActivity" />
        <activity android:name=".danmu.DanmuActivity" />
        <activity android:name=".tray.TrayActivity" />
        <activity android:name=".properties.PreferencesActivity" />
        <activity
            android:name=".litepal.activity.ManageTablesActivity"
            android:label="@string/manage_table_sample"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.ModelListActivity"
            android:label="@string/manage_table_sample"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.TableListActivity"
            android:label="@string/manage_table_sample"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.ModelStructureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.TableStructureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.CRUDActivity"
            android:label="@string/crud_sample"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.SaveSampleActivity"
            android:label="@string/save_sample"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.UpdateSampleActivity"
            android:label="@string/update_sample"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.DeleteSampleActivity"
            android:label="@string/delete_sample"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.QuerySampleActivity"
            android:label="@string/query_sample"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.AggregateActivity"
            android:label="@string/aggregate_sample"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.CountSampleActivity"
            android:label="@string/count_sample"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.MaxSampleActivity"
            android:label="@string/max_sample"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.MinSampleActivity"
            android:label="@string/max_sample"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.AverageSampleActivity"
            android:label="@string/average_sample"
            android:screenOrientation="portrait" />
        <activity
            android:name=".litepal.activity.SumSampleActivity"
            android:label="@string/sum_sample"
            android:screenOrientation="portrait" />
        <activity
            android:name=".smallchart.CurveChartActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".sugar.ScanSDActivity" />
        <activity android:name=".hencoder.hencoderpracticedraw1.MainActivity" />
        <activity android:name=".hencoder.hencoderpracticedraw2.MainActivity" />
        <activity android:name=".hencoder.hencoderpracticedraw3.MainActivity" />
        <activity android:name=".hencoder.hencoderpracticedraw4.MainActivity" />
        <activity android:name=".hencoder.hencoderpracticedraw5.MainActivity" />
        <activity android:name=".hencoder.hencoderpracticedraw6.MainActivity" />
        <activity android:name=".hencoder.hencoderpracticedraw7.MainActivity" />
        <activity android:name="com.wind.windlinkrecycleview.WindlinkRecycleviewActivity" />
        <activity android:name=".stikyscrollview.StikyScrollviewActivity" />
        <activity android:name=".textview.spantouchfixtextview.SpanTouchFixTextViewActivity" />
        <activity android:name=".threed.ThreedMainActivity" />
        <activity android:name=".threed.UserCenterActivity" />
        <activity android:name=".threed.WeatherActivity" />
        <activity android:name=".marqueue.MarqueueActivity" />
        <activity android:name=".pulseview.PulseViewActivity" />
        <activity android:name=".pulseview.PhotoViewActivity" />
        <activity android:name=".blurry.BlurryTestActivity" />
        <activity android:name=".tickerview.TickerActivity" />
        <activity android:name=".tickerview.PerfActivity" />
        <activity android:name=".xmlparse.XmlParseActivity" />
        <activity android:name=".xmlparse.PullParseActivity" />
        <activity android:name=".xmlparse.SaxParseActivity" />
        <activity
            android:name=".bubbleview.BubbleViewActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".psdinput.PayPsdViewActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".progressbar.ProgressBarActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".fingerutils.FingerprintActivity"
            android:theme="@style/AppThemeNoTitle" />
        <activity android:name=".shinebutton.ShineButtonActivity" />
        <activity android:name=".tencentx5.X5WebViewActivity" />
        <activity android:name=".zbar.ZbarActivity" />
        <activity android:name=".StrategyPattern.StrategyPatternActivity" />
        <activity android:name=".factorypattern.FactoryActivity" />
        <activity android:name=".builderpattern.BuilderPatternActivity" />
        <activity android:name=".magicsurfaceview.MagicSurfaceviewActivity" />
        <activity android:name=".magicsurfaceview.launch.LaunchActivity" />
        <activity android:name=".magicsurfaceview.LightSampleActivity" />
        <activity android:name=".magicsurfaceview.MacWindowAnimActivity" />
        <activity android:name=".magicsurfaceview.MatrixAnimSampleActivity" />
        <activity android:name=".magicsurfaceview.MultiScrapAnimActivity" />
        <activity android:name=".magicsurfaceview.MultiSlideAnimActivity" />
        <activity android:name=".magicsurfaceview.VortexAnimActivity" />
        <activity android:name=".magicsurfaceview.WaveAnimActivity" />
        <activity
            android:name=".searchbox.SearchBoxActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name=".colorpickerview.ColorPickerViewActivity" />
        <activity android:name=".materialripple.MaterialRippleActivity" />
        <activity android:name=".materialripple.DemoListActivity" />
        <activity android:name=".materialripple.DemoRecyclerActivity" />
        <activity android:name=".viewexplosion.ViewExplosiionActivity"></activity>
    </application>

</manifest>